# Site settings
course_name: Database
course_description: "This course delves into the principles of database management, focusing on essential concepts applicable across various domains. Database management is a crucial discipline that explores the organization and manipulation of data within information systems. The course covers fundamental topics such as entity relationships, SQL query, relational algebra, normalization, NoSQL query, and optimizations. Proficiency in database management is vital in fields like software development, business intelligence, data analysis, cybersecurity, and information technology. Given its pervasive relevance, database management is a cornerstone of academic programs, reflecting its significance in contemporary technological landscapes."
course_semester: "Spring 2025"

baseurl: "/DB" # the subpath of your site, e.g. /blog/
url: "http://sut-ce-courses.github.io/" # the base hostname & protocol for your site

schoolname: "Sharif University of Technology"
schoolurl: "https://sharif.edu"
twitter_username: #

address: |
    Computer Engineering Department
    Sharif University of Technology
    Tehran

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false
    taclass:
        output: true
    exams:
        output: true

    

defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
